<h2>Editar usuario: {{ editar.getUsername() }}</h2>
					<form method="post" action="ABM_Usuarios.php" id="form_usr_edit_sec" name="form_usr_edit_sec">
						<input type="hidden" id="id" name="id" value="{{ editar.getId() }}">
						<br>
						CV publico?: 
								<select name="cv_publico">
								<option value="0" {% if editar.getCvPublico() == 0 %} selected='selected' {% endif %}>No</option>
								<option value="1" {% if editar.getCvPublico() == 1 %} selected='selected' {% endif %}>Si</option>
								</select>							
						<br>
						<input type="submit" name="submitEditar" value="Guardar cambios">
						<input type="submit" onsubmit="ABM_Usuarios.php"  value="Cancelar">								
					</form>
